* {
    box-sizing: border-box;
  }
  
  body {
    background-color:rgb(104, 104, 133);
    display: flex;
    flex-direction: column;
    color:rgb(247, 243, 243);
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .movie-container {
    margin: 20px 0;
  }

  .seat {
    background-color: #3e3e3f;
    height: 12px;
    width: 20px;
    margin: 3px;
  }
  
  .row {
    display: flex;
  }
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
}

.seat.selected {
     background-color: #6feaf6;
 }
.seat.occupied {
     background-color:white;
     }
     .seat:nth-of-type(2) {
      margin-right: 15px;
}
.seat:nth-of-type(1) {
  margin-left: 35px;
}

.seat:nth-last-of-type(2) {
        margin-left: 15px;
}      
ul{
    display: flex;
    margin-top: 50px;
    padding: 0px 10px;
}
li{
    display: flex;
    margin:5px;
    margin-left: 0px;
}
.screen{
    background-color: white;
    height: 100px;
    width: 70%;
    margin-left: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}